
 <div style="float: left; width: 100%;">
    <div id="left">
        <div style="height: 100px;">&nbsp;</div>
        <div class="leftPanel">
            <span><img src="./assets/images/escrow@2x.png"></span><br/>
            <span class="leftFont">111</span> mil<br/>
            <span>Total Balance</span>
            <br/><br/>
            <hr class="style1">
            <br/>
            <span><img src="./assets/images/transactions@2x.png"></span><br/>
            <span  class="leftFont">1111</span><br/>
            <span>Total Payable</span>
            <br/><br/>
            <hr>
            <br/>
            <span><img src="./assets/images/miles@2x.png"></span><br/>
            <span class="leftFont">1111</span><br/>
            <span>Pending Transaction</span>
        </div>
    </div>
    <div id="right">   
        <div class="Table">
            <div class="Heading">
                <div class="Cell">TXN ID</div>
                <div class="Cell">From</div>
                <div class="Cell">To</div>
                <div class="Cell">Amount</div>
                <div class="Cell">Status</div>
                <div class="Cell">Date</div>
                <div class="Cell">Time</div>
            </div>
            <div class="Row" >
                <div class="Cell">11</div>
                <div class="Cell">111</div>
                <div class="Cell">1111</div>
                <div class="Cell">11111</div>
                <div class="Cell">s</div>
                <div class="Cell">12121</div>
                <div class="Cell">1111</div>
            </div>
        </div>
    </div>
</div>