<!--The content below is only a placeholder and can be replaced.-->
<div style="float: left; width: 100%;">
    <div id="left">
        <div style="height: 100px;">&nbsp;</div>
        <div class="leftPanel">
            <span><img src="./assets/images/escrow@2x.png"></span><br/>
            <span class="leftFont">122</span><br/>
            <span>Escrow Balance</span>
            <br/><br/>
            <hr class="style1">
            <br/>
            <span><img src="./assets/images/transactions@2x.png"></span><br/>
            <span  class="leftFont">123</span><br/>
            <span>Total Transactions</span>
            <br/><br/>
            <hr>
            <br/>
            <span><img src="./assets/images/miles@2x.png"></span><br/>
            <span class="leftFont">4545</span><br/>
            <span>Miles Transacted</span>
        </div>
    </div>
    <div id="right">
        <div class="Table">
            <div class="Heading">
                <div class="Cell">Name</div>
                <div class="Cell">Skyward Id</div>
                <div class="Cell">Wallet Id</div>
                <div class="Cell">Tier</div>
            </div>
            <div class="Row" >
            <div class="Cell">
                <a style="cursor: pointer;" (click)="getTransactionHistory(row.walletId);">sfsaf</a>
                </div>
            <div class="Cell">12312</div>
            <div class="Cell">123123</div>
            <div class="Cell">1231</div>
            </div>
        </div>
    </div>
</div>


