<div class="container" role="main">
    <p></p>
    <h4>KNet Home page</h4>
    <div>
        <!-- a class="btn btn-primary btn-lg active" href="/angular/pay?env=DCP-USMAN&l=en&t=OHRUTDY5WStFQS91Z2s5dVVVOXMvQT09" >Start KNet Payment</a  -->
        <a class="btn btn-primary btn-lg active" href="/pay?env=DCP-USMAN&l=en&t=OHRUTDY5WStFQS91Z2s5dVVVOXMvQT09" >Start KNet Payment</a>
        &nbsp;
        <button class="btn btn-primary btn-sm" routerLink="/angular/pay">Start Pay</button>&nbsp;
    </div>
    <p></p>
    <div><!--
        <button class="button" (click)="submitPayment()" type="button">Submit!</button>
    -->
    </div>

    <div>
        <!--button class="btn btn-outline-primary" routerLink="/pay?env=DCP-USMAN&l=en&t=OHRUTDY5WStFQS91Z2s5dVVVOXMvQT09">Knet Pay with Attributes</button -->
        <button class="btn btn-primary btn-sm" routerLink="/responseback">Knet Response Back</button>&nbsp;
        <button class="btn btn-primary btn-sm" routerLink="/response">Knet Response</button>&nbsp;
        <button class="btn btn-primary btn-sm" routerLink="/error">Knet Error</button>&nbsp;
        <button class="btn btn-primary btn-sm" routerLink="/history">Knet History</button>
    </div>

</div>