<div class="container">
       
    View 1 <br/>
    Name: <input type="text" ng-model="filter.name"/> &nbsp; Hello {{name}}

    <h3>Adding a simple controller</h3>
    <ul>
        <li ng-repeat="cust in customers | filter:filter.name">{{cust.name}} - {{cust.city}}</li>
    </ul>
    
    <br/>
    Customer Name: <input type="text" ng-model="newCustomer.name"/>
    <br/>
    City Name: <input type="text" ng-model="newCustomer.city"/>
    <br/>
    <button ng-click="addCustomer()"/>Add Customer</button>
    <br/>
    <a href="#/view2" >View 2</a>
</div>